data/
.ipynb_checkpoints
.bin
*.db

*.parquet
*.html
*.csv
*.pkl
*.bin

.venv
venv
.idea
**/artifacts/
**/models/

__pycache__/
**.env
**.terraform/
**.terraform.lock*
**terraform.tfstate*

nohup.out
mlflow.db
mlruns/
.DS_Store
